
@{
    ViewBag.Title = "ClaimSubmit";
}
@using Capstone.Web.Models
@model DamageClaimModel

<h2>Submit a Damage Claim</h2>

<div>
    @using (Html.BeginForm("ClaimSubmit", "Home", FormMethod.Post)) {
        @Html.LabelFor(m => m.Pothole_ID)
        @Html.HiddenFor(m => m.Pothole_ID)
        @Html.LabelFor(m => m.Estimated_cost, "Estimated Cost Of Damages Accrued:")
        @Html.TextBoxFor(m => m.Estimated_cost, new { placeholder = "$" })
        @Html.LabelFor(m => m.Description, "Description Of Incident")
        @Html.TextAreaFor(m => m.Description)
        @Html.LabelFor(m => m.SubmissionDate, "Date Of Incident")
        <div class="input-group date" data-provide="datepicker">
            @Html.TextBoxFor(m => m.SubmissionDate, new { @class = "form-control" })
            <div class="input-group-addon">

            </div>
        </div>

        <button class="btn btn-light">Submit Claim</button>
    }
</div>