
@{
    ViewBag.Title = "ClaimSubmit";
    int pothole_id = (int)Session["Pothole_id"];
}
@using Capstone.Web.Models
@model DamageClaimModel

<h2>Submit a Damage Claim</h2>

<div>
  
    @using (Html.BeginForm("ClaimSubmit", "Home", FormMethod.Post))
    {
        <table class="table">
            <tr>
                <th>Pothole ID</th>
                <th>Estimated Cost</th>
                <th>Submission Date</th>
                <th>Description</th>
            </tr>
            <tr>
                <td><span>@pothole_id</span>
                </td>
                @Html.HiddenFor(m => m.Pothole_ID, pothole_id)
                <td>
                    @Html.TextBoxFor(m => m.Estimated_cost,"$", new { placeholder = "$" })
                </td>
                <td>
                    <div class="input-group date" data-provide="datepicker">
                        @Html.TextBoxFor(m => m.SubmissionDate, new { @class = "form-control" })
                        <div class="input-group-addon">
                        </div>
                    </div>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Description)
                </td>
            </tr>
            <tr class="registertable">
                <td></td>
                <td>
                    @Html.ValidationMessageFor(m=>m.Estimated_cost)  @Html.ValidationMessage("invalid-amount")
                </td>
                <td>
                    @Html.ValidationMessageFor(m=>m.SubmissionDate) @Html.ValidationMessage("invalid-date")
                </td>
                <td></td>
            </tr>
        </table>
        <button class="btn btn-primary">Submit Claim</button>
    }

</div>