
@{
    ViewBag.Title = "Road Janitor - Pothole Submitted!";
    int id = (int)Session["Pothole_id"];
}
@model Capstone.Web.Models.Pothole
<span hidden id="Severity">@Model.Severity</span>
<h2 class="headersmall">Pothole No. @id  Submitted! </h2>
<script src="~/Scripts/Detailedmap.js"></script>
<p>
    Status:
    @if (Model.ReturnSeverity(Model.Severity) == "Minor")
    {
        <span style="color:lawngreen">@Model.ReturnSeverity(Model.Severity)</span>
    }
    else if (Model.ReturnSeverity(Model.Severity) == "Moderate")
    {
        <span style="color:yellow">@Model.ReturnSeverity(Model.Severity)</span>
    }
    else if (Model.ReturnSeverity(Model.Severity) == "Hazard")
    {
        <span style="color:orange">
            @Model.ReturnSeverity(Model.Severity)
        </span>
    }
    else if (Model.ReturnSeverity(Model.Severity) == "Severe")
    {
        <span style="color:red">
            @Model.ReturnSeverity(Model.Severity)
        </span>
    }
    else if (Model.ReturnSeverity(Model.Severity) == "Extreme Danger")
    {
        <span style="color:deeppink">
            @Model.ReturnSeverity(Model.Severity)
        </span>
    }
</p>
<p hidden>Latitude: <span id="lat">@Model.Latitude</span> Longitude: <span id="lng">@Model.Longitude</span></p>
<div id="wrapper">
    <div id="map"></div>
</div>
<a class="btn btn-primary viewbutton" href="~/Home/ViewPotholes/">View Submitted Potholes</a>
<a class="btn btn-danger viewbutton" href="~/Home/ClaimSubmit/">Submit A Damage Claim</a>
@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{

    <div class="custom-file" style="margin:auto;width:200px;">
        <input id="logo" type="file" class="custom-file-input" name="file">
        <label for="logo" class="custom-file-label" style="width:200px;height:37px; margin:auto; text-align:left">Choose Photo</label>

    </div>
    <input class="btn btn-success submit" type="submit" value="Upload" style="padding-right:75px;padding-left:75px;margin-left:20px;" />
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSatSYUL3YwnEgUtqsIpU1Cd-mR9OT148&callback=initMap"></script>
