
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";

}
@using Capstone.Web.Models;

@model Pothole
<h2 class="headersmall">Report a Pothole</h2>
<div class="divcenter">
    @using (Html.BeginForm("DetailHole", "Home", FormMethod.Post))
    {
    <p class="indexp">
        Heavy traffic flow and seasonal changes can brutalize roads and cause dangerous pothole hazards. Help protect drivers and expedite road repairs by reporting any road damage you encounter.
    </p>
    <span hidden>@DateTime.Now.Date</span>
        @Html.HiddenFor(m => m.Latitude)
        @Html.HiddenFor(m => m.Longitude)
        @Html.HiddenFor(m => m.DateReported, DateTime.UtcNow.Date);
        @Html.DropDownListFor(m => m.Severity, Pothole.SeverityLevels)
        <button id="reportBtn" class="btn btn-danger">Report PotHole Using Current Coordinates</button>
    }
    <p>Click <a href="/Home/ManualPotHoleEntry"> here</a> to report a pothole at a specific address</p>

</div>
<br />
