
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.Title = "Index";

}
@using Capstone.Web.Models;

@model Pothole
<h2>City PotHole Managment Homepage</h2>
<div>
    @using (Html.BeginForm("DetailHole", "Home", FormMethod.Post))
    {
        <span hidden>@DateTime.Now.Date</span>
        @Html.HiddenFor(m => m.Latitude)
        @Html.HiddenFor(m => m.Longitude)
        @Html.HiddenFor(m => m.DateReported, DateTime.UtcNow.Date);
        @Html.DropDownListFor(m => m.Severity, Pothole.SeverityLevels)
        <button id="reportBtn" class="btn btn-danger">Report PotHole Using Current Coordinates</button>
    }
    <p>Click <a href="/Home/ManualPotHoleEntry"> here</a> to report a pothole at a specific address</p>
 
</div>
<br/>
