
@{
    ViewBag.Title = "ManualPotHoleEntry";
}
@using Capstone.Web.Models
@model AddressData2

<h2>ManualPotHoleEntry</h2>

<div>
    @using (Html.BeginForm("ManualPotHoleEntry", "Home", FormMethod.Post))
    {
        @Html.Label("Address")
        @Html.TextBoxFor(m => m.Address)
        @Html.Label("City")
        @Html.TextBoxFor(m => m.City)
        @Html.Label("State")
        @Html.TextBoxFor(m => m.State)
        <button class="btn btn-danger">Submit</button>
    }
</div>