@using Capstone.Web.Models
@model Pothole


<script src="~/Scripts/Detailedmap.js"></script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d',
            autoclose: true

        });
    });
</script>
<h1>Selected Pothole: ID @Model.PotholeID</h1>
@using (Html.BeginForm("ViewPotholesForEmp", "Home", FormMethod.Post))
{
<p><span class="tablespace">Latitude:</span><span id="lat">@Model.Latitude</span> <span class="tablespace">Longitude: </span><span id="lng">@Model.Longitude</span></p>
    <div id="wrapper">
        <div id="map"></div>
    </div>
    <table class="table">
        <tr>
            <td>Current Severity: @Model.Severity</td>
            <td>Update Severity: @Html.DropDownListFor(m => m.Severity, Pothole.SeverityLevels)</td>
            <td>Status: @Model.Status</td>
            <td>Update Status: @Html.DropDownListFor(m => m.Status, Pothole.StatusUpdate)</td>
            <td>Date Reported: @Model.DateReported.ToShortDateString()</td>

            @{ if (Model.InspectDate == null)
                {
                    <td>
                        Inspect Date:
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-check-o"></i>
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td>Inspect Date: @Model.InspectDate.Value.ToShortDateString()</td>
                }
            }

            @{ if (Model.RepairDate == null && Model.InspectDate != null)
                {
                    <td>
                        Repair Date:
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-check-o"></i>
                            </div>
                        </div>
                    </td>
                }
                else if (Model.RepairDate == null && Model.InspectDate == null) { }
                else
                {
                    <td>Repair Date: @Model.RepairDate.Value.ToShortDateString()</td>
                }
            }

            <td><button class="btn btn-primary">Update</button></td>
        </tr>

    </table>

}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSatSYUL3YwnEgUtqsIpU1Cd-mR9OT148&callback=initMap"></script>
