@using Capstone.Web.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Pothole>
@{ int listCount = Model.Count;
    string sort = ViewBag.Sorting;
}



<script src="~/Scripts/viewpothole.js"></script>



<h4 class="headersmall">Reported Potholes</h4>
<div id="wrapper">
    <div id="map"></div>
</div>
<span id="listcount" hidden>@listCount</span>

<div class="dropdown show" style="text-align:left;margin: 5px">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order by:
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @if (sort == "PotholeNo")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/PotholeNoDsc">Pothole No.▼</a>
        }
        else if (sort == "PotholeNoDsc")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/PotholeNo">Pothole No.▲</a>
        }
        else
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/PotholeNoDsc">Pothole No.▼</a>
        }
        @if (sort == "Date" || sort == null)
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/DateDsc">Date▼</a>
        }
        else if (sort == "DateDsc")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/Date">Date▲</a>
        }
        else
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/Date">Date▲</a>
        }
        @if (sort == "Status")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/StatusDsc">Status▼</a>
        }
        else if (sort == "StatusDsc")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/Status">Status▲</a>
        }
        else
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/Status">Status▲</a>
        }
        @if (sort == "Severity")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/SeverityDsc">Severity▼</a>
        }
        else if (sort == "SeverityDsc")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/Severity">Severity▲</a>
        }
        else
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/Severity">Severity▲</a>
        }
        @if (sort == "RepairDate")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/RepairDateDsc">Repair Date▼</a>
        }
        else if (sort == "RepairDateDsc")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/RepairDate">Repair Date▲</a>
        }
        else
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/RepairDate">Repair Date▲</a>
        }
        @if (sort == "InspectionDate")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/InspectionDateDsc">Inspection Date▼</a>
        }
        else if (sort == "InspectionDateDsc")
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/InspectionDate">Inspection Date▲</a>
        }
        else
        {
            <a class="dropdown-item" href="~/Home/ViewPotholes/InspectionDate">Inspection Date▲</a>
        }

    </div>
</div>




<table class="table">
    <tr>
        <th>Pothole Number</th>
        <th>Latitude/Longitude</th>
        <th>Pothole Status</th>
        <th>Pothole Severity</th>
        <th>Date Reported</th>
        <th>Inspection Date</th>
        <th>Repair Date</th>
    </tr>
    @{int count = 0; }
    @foreach (var pothole in Model)
    {

        count++;
        string lat = $"lat{count}";
        string lng = $"lng{count}";
        string severity = $"Severity{count}";
        <span id="@severity" hidden>@pothole.Severity</span>
        <tr>
            <td>@pothole.PotholeID</td>
            <td><a href="~/Home/SelectedPothole/@pothole.PotholeID"><span id="@lat">@pothole.Latitude</span>, <span id="@lng">@pothole.Longitude</span></a></td>
            <td>@pothole.Status</td>

            @if (pothole.ReturnSeverity(pothole.Severity) == "Minor")
            {
                <td style="color:lawngreen">@pothole.ReturnSeverity(pothole.Severity)</td>
            }
            else if (pothole.ReturnSeverity(pothole.Severity) == "Moderate")
            {
                <td style="color:yellow">@pothole.ReturnSeverity(pothole.Severity)</td>
            }
            else if (pothole.ReturnSeverity(pothole.Severity) == "Hazard")
            {
                <td style="color:orange">@pothole.ReturnSeverity(pothole.Severity)</td>
            }
            else if (pothole.ReturnSeverity(pothole.Severity) == "Severe")
            {
                <td style="color:red">@pothole.ReturnSeverity(pothole.Severity)</td>
            }
            else if (pothole.ReturnSeverity(pothole.Severity) == "Extreme Danger")
            {
                <td style="color:deeppink">@pothole.ReturnSeverity(pothole.Severity)</td>
            }

            <td>@pothole.DateReported.ToShortDateString() </td>
            @{if (pothole.InspectDate != null && pothole.RepairDate == null)
                {
                    <td>@pothole.InspectDate.Value.ToShortDateString() </td>
                    <td></td>
                }
                else if (pothole.InspectDate != null && pothole.RepairDate != null)
                {
                    <td>@pothole.InspectDate.Value.ToShortDateString() </td>
                    <td>@pothole.RepairDate.Value.ToShortDateString() </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
            }
        </tr>
    }

</table>

<div class="pagination">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ViewPotholes", new { page }))
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSatSYUL3YwnEgUtqsIpU1Cd-mR9OT148&callback=initMap"></script>
