
@{
    @using Capstone.Web.Models
    @using PagedList.Mvc
    @model PagedList.IPagedList<DamageClaimModel>
}

<table class="table">
    <tr>
        <th>Claim ID</th>
        <th>Pothole ID</th>
        <th>Claim Status</th>
        <th>Pothole Severity</th>
        <th>Date Reported</th>

        <th></th>
        <th></th>
    </tr>
    @{int count = 0; }
    @foreach (var claim in Model)
    {
        count++;
        string lat = $"lat{count}";
        string lng = $"lng{count}";
        <tr>
            <td id="count">@claim.Pothole_ID</td>
            <td>@claim.Claim_ID</td>
            <td>@claim.Status</td>
            <td>@claim.Estimated_cost</td>
            <td>@claim.SubmissionDate.ToShortDateString() </td>

            }
        </tr>

    }

</table>
<div class="pagination">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ViewClaims", new { page }))
</div>

