@using Capstone.Web.Models
@model List<Pothole>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h4>PotholeDAL</h4>

        <table class="table">
            @foreach (var pothole in Model)
            {
                <tr>
                    <td>@pothole.Latitude</td>
                    <td>@pothole.Longitude</td>
                    <td>@pothole.Status</td> <td>@pothole.Severity</td><td> @pothole.DateReported </td>
                </tr>
            
            }

        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
