@using Capstone.Web.Models
@model List<Pothole>
@{ int listCount = Model.Count;}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */

        
    </style>
    <script src="~/Scripts/viewpothole.js"></script>

</head>
<body>
    <div class="container">
        <h4 class="headersmall">Reported Potholes</h4>
        <div id="wrapper">
            <div id="map"></div>
        </div>
        <span id="listcount" hidden>@listCount</span>
        <table class="table">
            @{int count = 0; }
            @foreach (var pothole in Model)
            {
                count++;
                string lat = $"lat{count}";
                string lng = $"lng{count}";
                <tr>
                    <td id="count">@count</td>
                    <td><span id="@lat">@pothole.Latitude</span>, <span id="@lng">@pothole.Longitude</span></td>
                    <td><span class="tablespace">Status:</span>@pothole.Status</td>
                    <td><span class="tablespace">Severity:</span>@pothole.Severity</td>
                    <td><span class="tablespace">Date Reported:</span> @pothole.DateReported.ToShortDateString() </td>
                </tr>
                
            }

        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSatSYUL3YwnEgUtqsIpU1Cd-mR9OT148&callback=initMap"
></script>
</body>
</html>
