@using Capstone.Web.Models
@model List<Pothole>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h4>Reported Potholes</h4>

        <table class="table">
            @foreach (var pothole in Model)
            {
                <tr>
                    <td>@pothole.Latitude, @pothole.Longitude</td>
                    <td>Status:@pothole.Status</td> <td>Severity:@pothole.Severity</td><td>Date Reported: @pothole.DateReported </td>
                </tr>
            
            }

        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
