

@using Capstone.Web.Controllers;
@{string username = (string)Session["UsernameKey"];}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS_STYLE_SHEET.css">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="container-fluid">
        <div class="topnav" id="myTopnav">

            @*a href="#home">PotHole Manager</a>*@@*not sure how to make this unhighlightable. what element would would rather than A*@
            <a href="~/Home/Index">Pothole Report Form</a>
            <a href="~/Home/ViewPotholes">View Reported Potholes</a>
            @if (Session["UsernameKey"] != null)
            {
                <a href="#userpage">Welcome @username!</a>
                <a href="~/User/LogOut">Log Out | @username</a>
            }
            else
            {
                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

                <div id="id01" class="modal">

                    <form class="modal-content animate" action="@Url.Action("Login", "User")" method="post" id="LoginForm">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="img_avatar2.png" alt="Avatar" class="avatar">
                        </div>

                        <div class="container">
                            <label for="Username"><b>Username</b></label>
                            <input id="Username" name="Username" type="text" placeholder="Enter Username" required>

                            <label for="Password"><b>Password</b></label>
                            <input id="Password" name="Password" type="password" placeholder="Enter Password" required>

                            <button id="loginsubmit" type="submit">Login</button>

                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                    </form>
                </div>

                <script>
                    // Get the modal
                    var modal = document.getElementById('id01');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
                <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>

                <div id="id02" class="modal">

                    <form class="modal-content animate" action="@Url.Action("Register", "User")" method="post" id="RegisterForm">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="img_avatar2.png" alt="Avatar" class="avatar">
                        </div>

                        <div class="container">
                            <label for="Firstname"><b>First Name</b></label>
                            <input id="Firstname" name="Firstname" type="text" placeholder="Enter First Name" required>

                            <label for="Lastname"><b>Last Name</b></label>
                            <input id="Lastname" name="Lastname" type="text" placeholder="Enter Last Name" required>

                            <label for="RegUsername"><b>Username</b></label>
                            <input id="RegUsername" name="RegUsername" type="text" placeholder="Enter Username" required>

                            <label for="RegPassword"><b>Password</b></label>
                            <input id="RegPassword" name="RegPassword" type="password" placeholder="Enter Password" required>

                            <label for="RegPasswordConfirm"><b>Confirm Password</b></label>
                            <input id="RegPasswordConfirm" name="RegPasswordConfirm" type="password" placeholder="Confirm Password" required>

                            <label for="Email"><b>Enter Email Address</b></label>
                            <input id="Email" name="Email" type="email" placeholder="Enter Email Address" required>

                            <label for="ConfirmEmail"><b>Confirm Email Address</b></label>
                            <input id="ConfirmEmail" name="ConfirmEmail" type="email" placeholder="Confirm Email Address" required>


                            <button id="Registersubmit" type="submit">Register</button>

                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                    </form>
                </div>

                <script>
                    // Get the modal
                    var modal = document.getElementById('id02');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            }



            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="ColorChange()">&#9776;</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="layoutheaderdiv">


            @*<img class="imgsize" src="~/Content/Images/officialogo.png" />*@

            <h1 class="header">ROAD JANITOR</h1>
        </div>


    </div>
    <section class="container">
        @RenderBody()
    </section>
</body>

</html>
